/*.top-navbar-logo {*/
    /*max-height: 40px;*/
    /*margin: 10px;*/
/*}*/

/*.top-navbar-logo-text {*/
    /*max-height: 20px;*/
    /*margin-top: 14px;*/
/*}*/

/*.form-logo {*/
    /*margin-left: -50px;*/
    /*margin-bottom: 25px;*/
/*}*/

/*.even-margin {*/
    /*margin-top: 5px !important;*/
/*}*/

.half-centered {
    width: 50%;
    margin: 0 auto;
}

/*.gray-radial-gradient {*/
    /*background: -webkit-radial-gradient(#f3f3f4 70%, #c2c2c3);*/
    /*background: -o-radial-gradient(#f3f3f4 70%, #c2c2c3);*/
    /*background: -moz-radial-gradient(#f3f3f4 70%, #c2c2c3);*/
    /*background: radial-gradient(#f3f3f4 70%, #c2c2c3);*/
/*}*/

/*.force-hide-scroll {*/
    /*overflow: hidden;*/
/*}*/

/*.background-light-gray {*/
    /*background-color: #74858F !important;*/
    /*color: #f5f5f5 !important;*/
/*}*/

/*.color-light-gray {*/
    /*color: #74858F !important;*/
/*}*/

/*.background-dark-gray {*/
    /*background-color: #455660 !important;*/
    /*color: #f5f5f5 !important;*/
/*}*/

/*.color-dark-gray {*/
    /*color: #455660 !important;*/
/*}*/

/*button.disabled, input.disabled {*/
    /*opacity: 0.6 !important;*/
/*}*/

/*i.k-spinner {*/
    /*margin-top: 5px;*/
    /*display: block;*/
/*}*/

/*.form-control.valid {*/
    /*border-left: 3px solid #1ab394;*/
/*}*/

/*.form-control.error {*/
    /*border-left: 3px solid #cc5965;*/
/*}*/

/*label.error {*/
    /*background-color: #f4dde0;*/
    /*padding: 2px;*/
    /*border: 1px dotted #cc5965;*/
    /*white-space: nowrap;*/
    /*margin-left: 0px;*/
    /*width: 100%;*/
    /*border-top: none;*/
    /*border-left: 3px solid;*/
/*}*/

/*.form-group input[type="checkbox"] {*/
    /*display: none;*/
/*}*/

/*.form-group label {*/
    /*position: relative;*/
/*}*/

/*.form-group span.checkbox::before,*/
/*.form-group span.checkbox::after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
/*}*/

/*.form-group span.checkbox::before {*/
    /*width: 24px;*/
    /*height: 24px;*/
    /*left: -40px;*/
    /*box-sizing: border-box;*/
    /*border: 1px solid #ddd;*/
    /*transition: border-color .2s;*/
/*}*/

/*.form-group span.checkbox:hover {*/
    /*cursor: pointer;*/
/*}*/

/*.form-group span.checkbox:hover::before {*/
    /*border: 2px solid #18a689;*/
    /*cursor: pointer;*/
/*}*/

/*.form-group span.checkbox::after {*/
    /*content: '\f00c';*/
    /*font-family: 'FontAwesome';*/
    /*left: -34px;*/
    /*top: 1px;*/
    /*color: transparent;*/
    /*transition: color .2s;*/
/*}*/

/*.form-group input[type="checkbox"]:checked + label span.checkbox::after {*/
    /*color: #FFF;*/
/*}*/

/*.form-group input[type="checkbox"]:checked + label span.checkbox::before {*/
    /*background-color: #18a689;*/
    /*border: 2px solid #18a689;*/
/*}*/

.navbar-minimalize {
    margin: 0px;
    height: 60px;
    border-radius: 0px 3px 3px 0px;
    margin: 0px !important;
    line-height: 50px;
}

.dropdown-menu {
    color: #333 !important;
}

.nav-header a {
    background: none !important;
}

.page-heading {
    padding: 0px;
    /*padding-right: 0px;*/
}

.animated-2x {
    animation-duration: 0.4s;
}

h2 {
    margin-top: 10px;
}

h2 .fa {
    margin-right: 15px;
}

.ibox-title h5 {
    margin: 7px 2px 7px;
}

@media (max-width: 768px) {
    .form-logo {
        width: 100%;
        margin: 10px auto;
    }
}