body.gray-radial-gradient {
  background: -webkit-radial-gradient(#f3f3f4 70%, #c2c2c3);
  background: radial-gradient(#f3f3f4 70%, #c2c2c3);
}
.force-hide-scroll {
  overflow: hidden;
}
.loginscreen.middle-box {
  width: 400px;
}
.loginscreen.middle-box .background-light-gray {
  background-color: #74858f;
  color: #f5f5f5;
}
.loginscreen.middle-box .background-dark-gray {
  background-color: #455660;
  color: #f5f5f5;
}
.loginscreen.middle-box button.disabled,
.loginscreen.middle-box input.disabled {
  opacity: 0.6 !important;
}
.loginscreen.middle-box button {
  background-color: #1ab394;
}
.form-control.valid {
  border-left: 3px solid #1ab394;
}
.form-control.error {
  border-left: 3px solid #cc5965;
}
.form-group label.error {
  background-color: #f4dde0;
  padding: 2px;
  border: 1px dotted #cc5965;
  white-space: nowrap;
  margin-left: 0px;
  width: 100%;
  border-top: none;
  border-left: 3px solid #cc5965;
}
.form-group input[type="checkbox"] {
  display: none;
}
.form-group label {
  position: relative;
}
.form-group span.checkbox::before,
.form-group span.checkbox::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: inline-table;
}
.form-group span.checkbox::before {
  width: 24px;
  height: 24px;
  left: -40px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  -webkit-transition: border-color 0.2s;
          transition: border-color 0.2s;
}
.form-group span.checkbox:hover {
  cursor: pointer;
}
.form-group span.checkbox:hover::before {
  border: 2px solid #18a689;
  cursor: pointer;
}
.form-group span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -34px;
  top: 1px;
  color: transparent;
  -webkit-transition: color .2s;
          transition: color .2s;
}
.form-group input[type="checkbox"]:checked + label span.checkbox::after {
  color: #FFF;
}
.form-group input[type="checkbox"]:checked + label span.checkbox::before {
  background-color: #18a689;
  border: 2px solid #18a689;
}
.login-header img {
  width: 100%;
  margin-bottom: 20px;
  width: 90%;
}
.login-header img:first-child {
  width: 50%;
}
.navbar .logo {
  padding: 10px;
  height: 50px;
}
.navbar .logo.text {
  height: 40px;
  margin-top: 10px;
  padding-left: 0px;
}
h2 {
  margin-top: 10px;
}
h2.fa {
  margin-right: 15px;
}
.page-heading {
  padding: 0px;
}
#page-wrapper {
  min-height: 0px;
  height: 100%;
}
.one-screen {
  height: 100%;
}
.over-worktable {
  position: relative;
  z-index: 10;
}
input[type=range] {
  -webkit-appearance: none;
  margin-bottom: 16px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #e7eaec;
  border: none;
  border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #74858f;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: #fff;
  margin-top: -7px;
  cursor: pointer;
}

.worktable {
  height: 100%;
  width: 100% !important;
  position: relative;
  background-color: #1b6d85;
}
.worktable:focus {
  outline: none;
  border: none;
}
.toolbar-wrapper {
  background-color: #FFF;
  position: fixed;
  top: 100px;
  height: 100%;
  -webkit-transition: left 0.5s ease, right 0.5s ease;
          transition: left 0.5s ease, right 0.5s ease;
  overflow-y: auto;
}
.toolbar-wrapper.toolbar-worktable {
  left: -180px;
  width: 200px;
  box-shadow: -4px 0px 10px #333;
}
.toolbar-wrapper.toolbar-worktable.show {
  left: 0px;
}
.toolbar-wrapper.toolbar-worktable .form-group {
  text-align: center;
}
.toolbar-wrapper.toolbar-worktable .btn:focus {
  font-wegith: bold;
  color: #fff;
}
.toolbar-wrapper.toolbar-worktable .arrow-wrapper .arrow-container {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
}
.toolbar-wrapper.toolbar-worktable .arrow-wrapper .arrow-container .arrow {
  border: 1px solid #e7eaec;
  width: 40px;
  height: 40px;
  position: absolute;
  border-bottom-left-radius: 100%;
  cursor: pointer;
}
.toolbar-wrapper.toolbar-worktable .arrow-wrapper .arrow-container .arrow:hover {
  background-color: #e7eaec;
}
.toolbar-wrapper.toolbar-worktable .arrow-wrapper .arrow-container .arrow:active {
  background-color: #cfd2d4;
}
.toolbar-wrapper.toolbar-worktable .arrow-wrapper .arrow-container .arrow.up {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-left: 20px;
  margin-top: -8px;
}
.toolbar-wrapper.toolbar-worktable .arrow-wrapper .arrow-container .arrow.down {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 20px;
  margin-top: 48px;
}
.toolbar-wrapper.toolbar-worktable .arrow-wrapper .arrow-container .arrow.left {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: -8px;
  margin-top: 20px;
}
.toolbar-wrapper.toolbar-worktable .arrow-wrapper .arrow-container .arrow.right {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-left: 48px;
  margin-top: 20px;
}
.toolbar-wrapper.toolbar-worktable .arrow-wrapper .arrow-container .arrow i {
  margin-left: 6px;
  margin-top: 10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.toolbar-wrapper.toolbar-worktable .arrow-wrapper .arrow-caption {
  display: block;
  text-align: center;
  margin-top: 10px;
}
.toolbar-wrapper.toolbar-worktable .range-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 12px;
}
.toolbar-wrapper.toolbar-worktable .range-wrapper .fa-plus-circle {
  float: left;
}
.toolbar-wrapper.toolbar-worktable .range-wrapper .fa-minus-circle {
  float: right;
}
.toolbar-objects {
  right: -180px;
  width: 200px;
  box-shadow: 4px 0px 10px #333;
}
.toolbar-objects.show {
  right: 0px;
}
.ibox {
  margin-bottom: 0px;
}
.ibox .collapse-link {
  cursor: pointer;
  border-bottom: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  background-color: #fcfcfc;
}
.ibox .add-margin-left {
  margin-left: 30px;
}
ul {
  padding-left: 5px;
}

/*# sourceMappingURL=main.css.map */
