/**
 * NotSoFlat studio.css
 * 
 * @author: BeedVision
 */

.leftPanel {
    width: 60%;
    background-color: #eee;
    padding: 20px;
    display: inline-block;
}

.right-panels {
    width: 40%;
    background-color: #eee;
    padding: 20px;
    display: inline-block;
    float: right;
}