/**
 * NotSoFlat Studio/design.css
 * 
 * @author: BeedVision
 */

#designTable {
    margin: 0 auto;
    display: block;
    border: none;
    box-shadow: 0px 0px 0px 2px #333;
}

.room {
    background-color: #FFF;
    box-shadow: inset 0px 0px 0px 10px #555;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #111;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
    cursor: pointer;
}

.room.active-element {
    background-color: #EEE;
    box-shadow: inset 0px 0px 0px 10px #222;
}

.room.constraint {
    box-shadow: inset 0px 0px 0px 10px #9a2;
}

.door {
    background-color: #DF9661;
    box-shadow: inset 0px 0px 0px 1px #6f4b30;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    z-index: 50;
}

.door.active-element {
    background-color: #D2691E;
}

.window {
    background-color: #61B1FF;
    box-shadow: inset 0px 0px 0px 1px #437bb2;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    z-index: 40;
}

.window.active-element {
    background-color: #1E90FF;
}

.collision {
    background-color: red;
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    opacity: 0.7;
}

.active-element {
    cursor: move;
}