/**
 * NotSoFlat Studio/design.css
 * 
 * @author: BeedVision
 */

.form-control[readonly] {
    cursor: default !important;
}

.input-group-addon {
    color: #FFF !important;
    cursor: default;
    width: 150px;
}

.panel-heading:empty, .panel-body:empty {
    display: none;
}

.btn-new-line {
    display: block;
}
