/**
 * NotSoFlat Studio/render.css
 * 
 * @author: BeedVision
 */

.renderer {
    width: 600px;
    height: 300px;
    border: 1px solid #666;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    touch-action: none;
}
