@light-gray: #f5f5f5;
@dark-gray: #74858f;
@darkest-gray: #455660;
@valid-color: #1ab394;
@error-color: #cc5965;
@error-bg-color: #f4dde0;

@iboxBorderColor: #e7eaec;
@iboxBorderColor2: #cfd2d4;

body {
  &.gray-radial-gradient {
    background: radial-gradient(#f3f3f4 70%, #c2c2c3);
  }
}

.force-hide-scroll {
  overflow: hidden;
}

.loginscreen {
  &.middle-box {
    width: 400px;

    .background-light-gray {
      background-color: @dark-gray;
      color: @light-gray;
    }

    .background-dark-gray {
      background-color: @darkest-gray;
      color: @light-gray;
    }

    button.disabled, input.disabled {
      opacity: 0.6 !important;
    }

    button {
      background-color: @valid-color;
    }
  }
}

.form-control {
  &.valid {
    border-left: 3px solid @valid-color;
  }
  &.error {
    border-left: 3px solid @error-color;
  }
}

.form-group {
  label.error {
    background-color: @error-bg-color;
    padding: 2px;
    border: 1px dotted @error-color;
    white-space: nowrap;
    margin-left: 0px;
    width: 100%;
    border-top: none;
    border-left: 3px solid @error-color;
  }

  input[type="checkbox"] {
    display: none;
  }

  label {
    position: relative;
  }

  span.checkbox::before,
  span.checkbox::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-table;
  }

  span.checkbox::before {
    width: 24px;
    height: 24px;
    left: -40px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    transition: border-color .2s;
  }

  span.checkbox:hover {
    cursor: pointer;
  }

  span.checkbox:hover::before {
    border: 2px solid #18a689;
    cursor: pointer;
  }

  span.checkbox::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    left: -34px;
    top: 1px;
    color: transparent;
    transition: color .2s;
  }

  input[type="checkbox"]:checked + label span.checkbox::after {
    color: #FFF;
  }

  input[type="checkbox"]:checked + label span.checkbox::before {
    background-color: #18a689;
    border: 2px solid #18a689;
  }
}

.login-header {
  img {
    width: 100%;
    margin-bottom: 20px;
    width: 90%;

    &:first-child {
      width: 50%;
    }
  }
}

.navbar {
  .logo {
    padding: 10px;
    height: 50px;

    &.text {
      height: 40px;
      margin-top: 10px;
      padding-left: 0px;
    }
  }
}

h2 {
  margin-top: 10px;
  &.fa {
    margin-right: 15px;
  }
}

.page-heading {
  padding: 0px;
}

#page-wrapper {
  min-height: 0px;
  height: 100%;
}

.one-screen {
  height: 100%;
}

.over-worktable {
  position: relative;
  z-index: 10;
}

input[type=range] {
  -webkit-appearance: none;
  margin-bottom: 16px;

  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: @iboxBorderColor;
    border: none;
    border-radius: 2px;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid @dark-gray;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: #fff;
    margin-top: -7px;
    cursor: pointer;
  }
}