@iboxBorderColor: #e7eaec;
@iboxBorderColor2: #cfd2d4;

.worktable {
  height: 100%;
  width: 100% !important;
  position: relative;
  background-color: #1b6d85;

  &:focus {
    outline: none;
    border: none;
  }
}

.toolbar-wrapper {
  background-color: #FFF;
  position: fixed;
  top: 100px;
  height: 100%;
  transition: left 0.5s ease, right 0.5s ease;
  overflow-y: auto;

  &.toolbar-worktable {
    left: -180px;
    width: 200px;
    box-shadow: -4px 0px 10px #333;

    &.show {
      left: 0px;
    }

    .form-group {
      text-align: center;
    }

    .btn:focus {
      font-wegith: bold;
      color: #fff;
    }

    .arrow-wrapper {
      .arrow-container {
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        position: relative;;

        .arrow {
          border: 1px solid @iboxBorderColor;
          width: 40px;
          height: 40px;
          position: absolute;
          border-bottom-left-radius: 100%;
          cursor: pointer;

          &:hover {
            background-color: @iboxBorderColor;
          }
          &:active {
            background-color: @iboxBorderColor2;
          }
          &.up {
            transform: rotate(135deg);
            margin-left: 20px;
            margin-top: -8px;
          }
          &.down {
            transform: rotate(-45deg);
            margin-left: 20px;
            margin-top: 48px;
          }
          &.left {
            transform: rotate(45deg);
            margin-left: -8px;
            margin-top: 20px;
          }
          &.right {
            transform: rotate(-135deg);
            margin-left: 48px;
            margin-top: 20px;
          }

          i {
            margin-left: 6px;
            margin-top: 10px;
            transform: rotate(-135deg);
          }
        }
      }
      .arrow-caption {
        display: block;
        text-align: center;
        margin-top: 10px;
      }
    }
    .range-wrapper {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      line-height: 12px;

      .fa-plus-circle {
        float: left;
      }
      .fa-minus-circle {
        float: right;
      }
    }
  }
}

&.toolbar-objects {
  right: -180px;
  width: 200px;
  box-shadow: 4px 0px 10px #333;

  &.show {
    right: 0px;
  }
}

.ibox {
  margin-bottom: 0px;

  .collapse-link {
    cursor: pointer;
    border-bottom: 1px solid @iboxBorderColor;
    border-top: 1px solid @iboxBorderColor;
    background-color: #fcfcfc;
  }
  .add-margin-left {
    margin-left: 30px;
  }
  //.form-group {
  //  border-bottom: 1px dashed #f3f3f3;
  //}
}

ul {
  padding-left: 5px;
}